data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/batches.meta
data/cifar-10-python.tar.gz
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/custom.cpython-38.pyc
src/__pycache__/data_loader.cpython-38.pyc
src/__pycache__/loss.cpython-38.pyc
src/__pycache__/model.cpython-38.pyc
data/cifar-10-batches-py/test_batch
src/__pycache__/custom.cpython-38.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/custom.cpython-312.pyc
src/__pycache__/data_loader.cpython-312.pyc
src/__pycache__/loss.cpython-312.pyc
src/__pycache__/model.cpython-312.pyc
test/Custom/discriminator
test/Custom/generator
images/100.png
images/200.png
images/300.png
images/400.png
