data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/batches.meta
data/cifar-10-python.tar.gz
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/custom.cpython-38.pyc
src/__pycache__/data_loader.cpython-38.pyc
src/__pycache__/loss.cpython-38.pyc
src/__pycache__/model.cpython-38.pyc
data/cifar-10-batches-py/test_batch
src/__pycache__/custom.cpython-38.pyc
images/100.png
images/200.png
images/300.png
images/400.png
images/500.png
images/600.png
images/700.png
images/800.png
images/900.png
images/1000.png
images/1100.png
images/1200.png
images/1300.png
images/1400.png
images/1500.png
images/1600.png
images/1700.png
images/1800.png
images/1900.png
images/2000.png
images/2100.png
images/2200.png
images/2300.png
images/2400.png
images/2500.png
images/2600.png
images/2700.png
images/2800.png
images/2900.png
images/3000.png
images/3100.png
images/3200.png
images/3300.png
images/3400.png
images/3500.png
images/3600.png
images/3700.png
images/3800.png
images/3900.png
images/4000.png
images/4100.png
images/4200.png
images/4300.png
images/4400.png
images/4500.png
images/4600.png
images/4700.png
images/4800.png
images/4900.png
images/5000.png
images/5100.png
images/5200.png
images/5300.png
images/5400.png
images/5500.png
images/5600.png
images/5700.png
images/5800.png
images/5900.png
images/6000.png
images/6100.png
images/6200.png
images/6300.png
images/6400.png
images/6500.png
images/6600.png
images/6700.png
images/6800.png
images/6900.png
images/7000.png
images/7100.png
images/7200.png
images/7300.png
images/7400.png
images/7500.png
images/7600.png
images/7700.png
images/7800.png
images/7900.png
images/8000.png
images/8100.png
images/8200.png
images/8300.png
images/8400.png
images/8500.png
images/8600.png
images/8700.png
images/8800.png
images/8900.png
images/9000.png
images/9100.png
images/9200.png
images/9300.png
images/9400.png
images/9500.png
images/9600.png
images/9700.png
images/9800.png
images/9900.png
images/10000.png
images/10100.png
images/10200.png
images/10300.png
images/10400.png
images/10500.png
images/10600.png
images/10700.png
images/10800.png
images/10900.png
images/11000.png
images/11100.png
images/11200.png
images/11300.png
images/11400.png
images/11500.png
images/11600.png
images/11700.png
images/11800.png
images/11900.png
images/12000.png
images/12100.png
images/12200.png
images/12300.png
images/12400.png
images/12500.png
images/12600.png
images/12700.png
images/12800.png
images/12900.png
images/13000.png
images/13100.png
images/13200.png
images/13300.png
images/13400.png
images/13500.png
images/13600.png
images/13700.png
images/13800.png
images/13900.png
images/14000.png
images/14100.png
images/14200.png
images/14300.png
images/14400.png
images/14500.png
images/14600.png
images/14700.png
images/14800.png
images/14900.png
images/15000.png
images/15100.png
images/15200.png
images/15300.png
images/15400.png
images/15500.png
images/15600.png
images/15700.png
images/15800.png
images/15900.png
images/16000.png
images/16100.png
images/16200.png
images/16300.png
images/16400.png
images/16500.png
images/16600.png
images/16700.png
images/16800.png
images/16900.png
images/17000.png
images/17100.png
images/17200.png
images/17300.png
images/17400.png
images/17500.png
images/17600.png
images/17700.png
images/17800.png
images/17900.png
images/18000.png
images/18100.png
images/18200.png
images/18300.png
images/18400.png
images/18500.png
images/18600.png
images/18700.png
images/18800.png
images/18900.png
images/19000.png
images/19100.png
images/19200.png
images/19300.png
images/19400.png
images/19500.png
images/19600.png
images/19700.png
images/19800.png
images/19900.png
images/20000.png
images/20100.png
images/20200.png
images/20300.png
images/20400.png
images/20500.png
images/20600.png
images/20700.png
images/20800.png
images/20900.png
images/21000.png
images/21100.png
images/21200.png
images/21300.png
images/21400.png
images/21500.png
images/21600.png
images/21700.png
images/21800.png
images/21900.png
images/22000.png
images/22100.png
images/22200.png
images/22300.png
images/22400.png
images/22500.png
images/22600.png
images/22700.png
images/22800.png
images/22900.png
images/23000.png
images/23100.png
images/23200.png
images/23300.png
images/23400.png
images/23500.png
src/__pycache__/custom.cpython-38.pyc
weights/discriminator
weights/generator
weights/saves/discriminator
weights/saves/generator
src/__pycache__/custom.cpython-38.pyc
weights/generator
src/__pycache__/custom.cpython-38.pyc
weights/generator
